{% extends "layout.html" %}

{% block title %}
    {{ pool_slug }} Admin
{% endblock %}

{% block main %}
<section class="pool-admin">
    <inner-column>
        <h1><a href="/pool/{{ pool_slug }}">{{ pool_data["pool_name"] }}</a> Admin Page</h1>

        <ul class="user-list">
        {% for user in users %}
            <li class="user" id="user-{{ user.id }}">
                <span class="user-name">{{ user.name }}</span>
                <button
                hx-delete="/pool/{{ pool_slug }}/admin/remove-user/{{ user.id }}" hx-target="#user-{{ user.id }}"
                hx-swap="outerHTML swap:.5s"
                hx-confirm="Are you sure you want to remove {{ user.name }}?"
                class="remove">x</button>
            </li>
        {% endfor %}
        </ul>
    </inner-column>
</section>
{% endblock %}
