{% extends "layout.html" %}

{% block title %}
    {{ pool_slug }}
{% endblock %}

{% block main %}
<section class="pool">
<inner-column>
    <h1 class="loud-voice">{{ pool_slug }}</h1>

    <ul class="pool_table">

        {% if not row in rows %}
        <li>No one has joined the pool yet!</li>
        {% else %}
        {% for row in rows %}
        <li>
            <div class="pool-user-card">
                <p class="name">{{ row.user_name }}</p>
                <p class="points">{{ row.points }}</p>
                <ul class="picks">
                {% for i in range(num_picks) %}
                    <!-- TODO this is a sloppy way of achieving this -->
                    {% if 'left_show_in_episode' ~ i in row and row['left_show_in_episode' ~ i] > 0 %}
                    <li>
                        <picture>
                            <img src="{{ row['image_path' ~ i] }}" alt="{{ row['name' ~ i] }}">
                        </picture>
                    </li>
                    {% else %}
                    <li>
                        <picture>
                            <img src="{{ row['image_path' ~ i] }}" alt="{{ row['name' ~ i] }}">
                        </picture>
                    </li>
                    {% endif %}

                {% endfor %}
                </ul>
            </div>
        </li>
        {% endfor %}
        {% endif %}


    </ul>
</inner-column>
</section>
{% endblock %}
