{% extends "layout.html" %}

{% block title %}
    Signup for {{ pool_slug }}
{% endblock %}

{% block main %}
    <h1> signup for {{ pool_slug }}</h1>
    <form action="{{ url_for('pool_signup', pool_slug=pool_slug) }}" method="post">
        <div>
            <input autocomplete="off" autofocus name="user_name" placeholder="User Name" type="text" required>
            <label for="pool_slug">Choose your user_name for {{pool_slug}} pool</label>
        </div>
        <h2> Choose {{ num_picks }} contestants</h2>
        {% for survivor in survivors %}
        <div>
            <input name="checkboxes" id="{{ survivor['contestant_id'] }}" value="{{ survivor['contestant_id'] }}" type="checkbox">
            <label for="{{ survivor['contestant_id'] }}"><img src ="{{ survivor['image_path'] }}" alt="{{ survivor['contestant']}}" width="100">{{ survivor['contestant'] }} </label>
        </div>
        {% endfor %}
        <button type="submit">Submit Your Choices!</button>
    </form>
{% endblock %}
