
/* set global box-model so that padding and borders stay inside */
html {
	box-sizing: border-box;
 }
 *, *:before, *:after {
	box-sizing: inherit;
 } 
 
:where(a) {
	 display: block;
	 text-decoration: underline;
	 color: blue;
 }
 
 /* put the classic link styles back */
 :where(p a) {
	 display: inline;
	 color: blue;
	 text-decoration: underline;
 }
 
 /* picture is inline by default, but we need it to accept block-level images in it */
 picture {
	 display: block;
	 overflow: hidden;
 }
 
 /* globally set images to fill their parent and keep their ratio as the default */
 img {
	 display: block;
	 width: 100%;
	 height: auto;
 }
 
 /* we generally need SVGs to act the same way as images */
 svg {
	display: block;
	width: 100%;
 }
 
 /* selects for autonomous customelements which are inline by default */
 :where(:not(:defined)) {
	 display: block;
 }
 