@import 'reset.css';
@import 'setup.css';

:root {
	--neutral-0: 		#FFFFFF;
	--neutral-20:		#FAFAFA;
	--neutral-30:		#F7F7F7;
	--neutral-50:		#F2F2F2;
	--neutral-100:		#E5E5E5;
	--neutral-200: 	    #CCCCCC;
	--neutral-300: 	    #B2B2B2;
	--neutral-400: 	    #999999;
	--neutral-500:		#808080;
	--neutral-600:		#666666;
	--neutral-700:		#4D4D4D;
	--neutral-800:		#333333;
	--neutral-900:		#1A1A1A;
	--neutral-1000:	    #000000;

	--page-color: var(--neutral-0);
    --header-bg: var(--neutral-50);
    --footer-bg: var(--neutral-50);
    --ink: var(--neutral-1000);
    --flash-bad-bg:     #F5D8DB;
    --flash-bad-text:    #632326;
    --flash-message-bg:    #DAECDA;
    --flash-message-text:   #325132;

    --inner-column: 1100px;

    --box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2)
    
}

body {
	background-color: var(--page-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: helvetica, sans-serif;
}

main {
    flex-grow: 2;
    padding: 2rem 0 4rem 0;
}

inner-column {
    max-width: var(--inner-column);
    margin-inline: auto;
    padding-inline: 12px;
}

header{
    padding-block: 2rem;
    background-color: var(--header-bg);
    .site-menu{
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        .title {
            /* font-size: 2rem; */
        }

        .link-list {
            display: flex;
            gap: 6vw;
            
            a {
                padding-block: .5rem;
            }
        }
    }
}

footer {
    background-color: var(--footer-bg);
    padding-block: 1rem;
}

.flash {
    li{
        display: flex;
        justify-content: center;
        padding-block: 6px;
        
        &.error, &.warning {
            background-color: var(--flash-bad-bg);
            color: var(--flash-bad-text);
        }

        &.message {
            background-color: var(--flash-message-bg);
            color: var(--flash-message-text);
        }
    }
    
}


/* HOME PAGE */

.home {
    
    .search{
        max-width: 400px;
        padding: 20px;
        /* background-color: #f9f9f9; */
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        margin-block: 2rem;

        label {
            margin-bottom: .5rem;
            display: block;
        }

        #pool-search {
            width: 100%;
            padding: 12px;
            margin-bottom: 1rem;
            display: inline-block;
            border: 1px solid var(--neutral-200);
            border-radius: 4px;
        }
    }

   
}

.info {
    line-height: 1.4
}

/* POOL PAGE */

.pool {
    .pool-nav {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-wrap: wrap;

        padding-bottom: 3rem;

        li {
            flex: 0 1 auto;
        }
    }
}

.pool_table {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    @media (min-width: 600px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (min-width: 900px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.pool-user-card {
    box-shadow: var(--box-shadow);
    padding: 1rem;
    border-radius: 8px;


    text-content {

        .name {
            font-weight: 600;
            text-transform: capitalize;
        }

        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;
    }

    .picks {
        display: flex;
        gap: 1rem;
        picture {
            aspect-ratio: 1 / 1;
            .voted-out {
                filter: grayscale(1);
            }
        }
    }
}

/* POOL ADMIN */

.invite-tokens {
    max-width: 400px;
    margin: 0 auto; 
    padding: 20px;
    /* background-color: #f9f9f9; */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    margin-block: 2rem;
}

.user-list {
    .htmx-swapping {
        opacity: 0;
        transition: opacity .5s ease-out;
      }
    .user {
        display: flex;
        align-items: baseline;
        gap: 1rem;

        .remove {
            color: red;
            /* padding: 10px; */

        }
    }
}

/* FORMS */

.join-pool-form {
    max-width: 100%;

    .checkbox-list {
        padding-top: 3rem;
        /* display: flex;
        flex-wrap: wrap;
        gap: 1rem; */
        /* justify-content: space-around; */

        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(85px, 1fr) );
        gap: .5rem;


        /* @media (min-width: 720px)  {
            grid-template-columns: repeat(6, 1fr);
        } */

        .contestant {
            /* width: 100px; */
            padding: 6px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
            border: 2px solid transparent;
            border-radius: 8px;
            
            input {
                display: none;
            }
    
            picture {
                width: 100%;
                position: relative;
                margin-bottom: .25rem;
            }
            .name {
                font-size: .75rem;
            }
        }
    }

    
   
    .contestant:has(>input:checked), .contestant:hover {
        border: 2px solid #28A745;
    }

    .contestant:has(>input:checked) picture::after {
        content: "\2713"; 
        font-size: 3rem;
        color: #28A745;

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        
    }

    .contestant:has(>input:disabled) picture {
        filter: grayscale(1)
    }

    button:disabled {
        /* background-color: lightgray;
        cursor: not-allowed;
        color: black; */

        opacity: .3;
        cursor: not-allowed;

        &:hover {
            background-color: #28a745;
        }
    }


}

form {
    /* font-family: serif; */
    max-width: 400px;
    margin: 0 auto; 
    padding: 20px;
    /* background-color: #f9f9f9; */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    margin-block: 2rem;

    label {
        margin-bottom: .5rem;
        display: block;
        .label-note {
            font-size: .8rem;
            color: var(--neutral-700);
            padding-left: .2rem;
        }
    }

    .sublabel {
        color: var(--neutral-700);
        font-size: .8rem;
        margin-bottom: 1rem;
        display: block;
        margin-inline: .2rem;
    }

    input[type="email"], input[type="password"], input[type="text"] {
        width: 100%;
        padding: 12px;
        margin-bottom: 1rem;
        display: inline-block;
        border: 1px solid var(--neutral-200);
        border-radius: 4px;
    }

    input[type="number"] {
        padding: 12px;
        margin-bottom: 1rem;
        display: inline-block;
        border: 1px solid var(--neutral-200);
        border-radius: 4px;
    }

    .optional {
        border: 1px solid var(--neutral-200);
        padding: .5rem;
    }

    .payouts {
        border: 1px solid var(--neutral-200);
        padding: 1rem;
        margin-block: 2rem;

        input[type="number"] {
            text-align: right;
            width: 60px;
            margin-bottom: 0;
            padding: 6px;
        }

        .payout-places {
            display: flex;
            justify-content: space-between;
            align-items: last baseline;
            margin-right: 1rem;
            gap: 1rem;
        }

        .payout-breakdown {
            margin-top: 1rem;
            padding-top: .5rem;
            
            legend {
                font-weight: 600;
            }
        }

        .place-percentage {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            gap: .5rem;
            padding-block: 6px;
            border-bottom: 1px solid var(--neutral-200);

            .percent-sign {
                color: var(--neutral-500);
                min-width: 1rem;
                max-width: 1rem;
            }
        }
        #percentage-summary {
            .total {
                text-align: right;
                margin-right: 1.3rem;
                margin-top: 1rem;
            }
            .too-high {
                border: 2px solid red;
            }
            .too-low {
                color: blue;
            }
            .just-right {
                color: green;
            }
            .remaining {
                color: var(--neutral-500);
                font-size: .8rem;
                text-align: right;
                margin-top: 0rem;
            }
        }
    }


    .radio {

        border: none;
        margin: 10px 0;

        legend {
            margin-bottom: .5rem;
        }

        .radio-option {
            display: flex;
            flex-direction: column;
            gap: .3rem;

            .input-and-label{
                display: flex;
                gap: .3rem;
            }
        }

        .radio-option + .radio-option{
            padding-top: 1rem;
        }

        .radio-option:last-child{
            padding-bottom: 1rem;
        }

        input[type="radio"] {
            display: inline;
            width: initial;
        }
        label {
            display: inline;
            margin-bottom: 0;
            cursor: pointer;
        }

       

        

        .sublabel {
            color: var(--neutral-700);
            font-size: .8rem;
            margin-bottom: 0rem;
            display: block;
            margin-inline: 1.6rem;
        }
    }

    #multiplier-field {
        margin-left: 1.6rem;
    }

    input:has(+ .sublabel) {
        margin-bottom: .5rem;
    }

    button {
        width: 100%;
        background-color: #28a745;
        color: white;
        padding: 12px;
        margin-top: 1rem;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    button:hover {
        background-color: #218838;
    }

    input.error {
        border-color: #e74c3c; /* Red for error */
    }
    
    input.success {
        border-color: #2ecc71; /* Green for success */
    }
    
    .error-message {
        color: #e74c3c;
        font-size: 14px;
    }

    input::placeholder {
        color: #999;
    }

    @media screen and (max-width: 600px) {
        form {
            padding: 10px;
        }
    
        input {
            padding: 10px;
            font-size: 14px;
        }
    
        button {
            padding: 10px;
        }
    }

    #agree {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        width: 0;
        z-index: -1;
    }

}



.form-message {
    padding-block: 1rem;
    padding-inline: .3rem;
    max-width: 400px;
    margin: 0 auto;
}

/* POOL PAGE */

.pool {
    h1 + ul {
        padding-top: 1rem;
    }
}

/* USER PANEL */

.user-panel {
    .pool-item {
        display: flex;
        align-items: baseline;
        gap: .5rem;
        
    }

    .admin {
        font-size: .75rem;
    }
    h1 + p {
        padding-top: 2rem;
    }
    p + ul {
        padding-top: 1rem;
    }

    p + h3, ul + h3 {
        padding-top: 1rem;
    }
    li {
        padding-top: .5rem;
        padding-left: 1rem;
    }
}

/* TYPOGRAPHY */

.loud-link {
    font-size: 2rem;
}

.calm-voice, p, li {
	/* font-family: serif; */
	line-height: 1.4;
}

.strong-voice {
	/* font-family: sans-serif; */
	font-size: clamp(1rem, 3vw, 1.5rem);
    font-weight: 600;
}

.attention-voice {
	/* font-family: sans-serif; */
	font-size: 30px;
}

.loud-voice {
	/* font-family: sans-serif; */
	font-size: clamp(36px, 5vw, 60px);
}

@media (min-width: 600px) {
	.loud-voice {
		font-weight: 700; /* or variable font */
	}
}

:is(.calm-voice, p) em {
	font-style: italic;
}

:is(.calm-voice, p) strong {
	font-weight: 700;
}

code {
    font-family: monospace;
    font-size: 1.1em;
    color: green;
}


.body-copy {
    p + p, p + a, a + p {
        margin-top: 1em;
    }
    
    h1 + p, h2 + p, h1 + a, h2 + a {
        margin-top: 1.5rem;
    }
}
    




