{% extends "layout.html" %}

{% block title %}
    ADMIN
{% endblock %}

{% block main %}

<inner-column>
    <h1>ADMIN CONTROL PANEL</h1>
    
    
    <form action="{{ url_for('admin') }}" method="post">
    
        <select name="contestant" id="contestant">
        {% for contestant in contestants %}
            <option value="{{ contestant.id }}">{{ contestant.name }}</option>
        {% endfor %}
        </select>
        <select name="in_week" id="in_week">
            {% for num in range(1, 19) %}
            {% if num == current_week %}
            <option selected="selected" value="{{ num }}">{{ num }}</option>
            {% else %}
            <option value="{{ num }}">{{ num }}</option>
            {% endif %}
            {% endfor %}
        </select>
        <button type="submit">Submit</button>
    </form>
</inner-column>

</body>
{% endblock %}
