{% extends "layout.html" %}

{% block title %}
    Survivor Pool
{% endblock %}

{% block main_class %}
    home
{% endblock %}

{% block main %}
<section class="info body-copy">
<inner-column>
    <h1 class="attention-voice summary">Easily make and manage betting pools for the popular reality television show, Survivor.</h1>
    <a href="{{ url_for('create_pool') }}" class="loud-link">Create a Pool</a>
   
</inner-column>
</section>
<section>
<inner-column>
    
    <div class="search">
        <label for="input">Search for your Pool</label>
        <input type="text" id="pool-search" name="pool-search" hx-get="/pool/search" hx-target="#search-results" hx-trigger="input delay:500ms" placeholder="Search">
        <ul id="search-results"></ul>
    </div>
</inner-column>
</section>

</body>
{% endblock %}
