<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <link href="/static/favicon.ico" rel="icon">

    <link href="/static/styles.css" rel="stylesheet">

    <script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='utils.js') }}"></script>


    <title>{% block title %}{% endblock %}</title>

</head>

<body class="body">

<header class="section">
    <inner-column>
        <nav>
            <ul class="site-menu">
                <li class="title">
                    <a href="/">Surivor Pool</a>
                </li>
                {% if session['username'] %}
                <li>
                    <a href="/user/{{ session['user_id'] }}">{{ session['username'] }}</a>
                </li>
                <li>
                    <a href="/logout">Log Out</a>
                </li>
                {% else %}
                <li>
                    <a href="login">Log In</a>
                </li>
                {% endif %}
            </ul>
        
        </nav>
    </inner-column>
</header>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flash">
        {% for category, message in messages %}
            <li class=" {{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endwith %}


<main>
    {% block main %}{% endblock %}
</main>

<footer>
<inner-column>
    <h1>Site made by Peter Chinman.</h1>
    <p>This is an open source project. <a href="https://github.com/peterchinman/survivor_pool">Check it out on GitHub.</a></p>
</inner-column>
</footer>
    

</body>

</html>
