{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <a href="{{ url_for('create_account') }}" class ="loud-voice">Create an Account</a>
    <p>or</p>
    <h1 class="loud-voice"></h1>
    <form action="{{ url_for('login', next=request.args.get('next')) }}" method="post">
        <!-- TODO client side verification of this form -->
        <label for="email">Email Address</label>
        <input autocomplete="off" autofocus name="email" placeholder="name@email.com" type="text">

        <input name="password" placeholder="Password" type="password">
     
        <button type="submit">Log In</button>
    </form>
{% endblock %}
