{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<section class="login">
<inner-column>

    {% if next == "create_pool" %}

    <p class="form-message strong-voice">To create a pool, you'll need to log in or create an account.</p>

    {% endif %}


   
    <form action="{{ url_for('login', next=request.args.get('next')) }}" method="post">
        <label for="email">Email Address</label>
        <input autocomplete="off" autofocus name="email" id="email" placeholder="Enter your email address" type="email" required>
        <label for="password">Password</label>
        <input name="password" id="password" placeholder="Password" type="password" required>
    
        <button type="submit">Log In</button>
    </form>

    <p class="form-message strong-voice">Don't have an account yet? <a href="{{ url_for('create_account', next=next) }}">Create one.</a></p>
</inner-column>
</section>
{% endblock %}
